@import url('https://fonts.googleapis.com/css?family=Alike+Angular|Cherry+Swash|Mali&display=swap');

/*
font-family: 'Mali', cursive;
font-family: 'Cherry Swash', cursive;
font-family: 'Alike Angular', serif;
*/

button {
   display: block;
}
button a {
   text-decoration: none;
   color: black;
}
.butChangeFonts {
   position: fixed;
   width: 80px;
   height: 80px;
   right: 50px;
   border-radius: 10px;
   outline: none;
   background: #ca852a;
   color: white;
}
.output {
   background-color: lightgrey;
   padding: 20px;
   font-size: 24px;
   font-family: 'Mali', cursive;
   line-height: 40px;
   width: 60%;
   margin: auto;
}
.hidden {
   display: none;
}